.avatar {
  width: 44px;
  height: 44px;
  background: map-get($colors, 4);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  &_large {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 34px;
  }
}
