.users {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 90px 0;

  &__card {
    height: 720px;
    width: 500px;
    padding: 16px;
    background: map-get($colors, 1);
    border-radius: 10px;
  }

  @include media-breakpoint-down(1020px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    &__card {
      grid-area: 1/1;
    }

    &__card:last-child {
      z-index: 1;
    }
  }

  @include media-breakpoint-down(500px) {
    padding: 0;

    &__card {
      width: 100vw;
      border-radius: 0;
      padding: 12px;
    }
  }
}
